body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #004466;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.controls {
  padding: 1em;
  text-align: center;
}

select {
  margin: 0.5em;
  padding: 0.3em;
  font-size: 1em;
}
#map {
  height: 500px;
  width: 100%;
  margin-top: 1rem;
}
